extends ../main

block variables
    - var title = 'Как можно снизить размер алиментов'
    - var main = false

block content
    main.new
        .container.container_bg.new__container
            .row
                //- left
                .new__left.left
                    +aside(amenuService)

                //- right
                .new__right.right
                    //- bread
                    .bread.bread_second.new__bread
                        a(href='/').bread__item
                            +icon('home', 'bread__item-svg')
                        a(href='articles.html').bread__item
                            span.bread__item-title Статьи
                        a().bread__item.active
                            span.bread__item-title Как можно снизить размер алиментов
                    //- title
                    .new__title.title2 Как можно снизить размер алиментов


                    //- list
                    .new__list
                        .new__item 03.09.2019
                        .new__item Уголовное право
                        .new__item Автор: Евгений Баженов
                    //- row
                    .new__row
                        .new__row-left
                            +image('images/content/articles/img.jpg','','new__img')
                        .new__row-right
                            .new__sub Верховный суд разъяснил, какие права есть у заключенных. Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения следственных действий в автозаках – разъясняется в постановлении Пленума Верховного суда, который публикует “Российская газета”.

                    //- content
                    .new__content
                        .content
                            p рассмотрении административных дел, связанных с нарушением условий содержания лиц, находящихся в местах принудительного содержания.
                            p Поясняется, что к числу лишенных свободы лиц относятся как осужденные по приговору суда, так и те, кто находится под административным или дисциплинарным арестом, в СИЗО, в автозаке, под домашним арестом. Для всех них должны соблюдаться одинаковые права. В частности, право на личную безопасность и охрану здоровья, на получение квалифицированной юридической помощи, на обращение в общественные наблюдательные комиссии, на доступ к правосудию, на свободу совести и вероисповедания, на обеспечение питанием и прогулки, на самообразование и досуг.
                            p В постановлении разъясняется, что при нарушении этих прав следует обращаться в суды. Например, административный иск об оспаривании бездействия, связанного с необеспечением минимальных норм питания, подается в районный суд, на территории которого находится исправительное учреждение.
                            p Подать иск могут лишенный свободы гражданин или его представитель, уполномоченные по правам человека, предпринимателей, детей; иные лица. Например, защитник может оспорить действия должностного лица, который препятствует свиданию с осужденным, а прокурор подать иск с требованием соблюдения условий содержания заключенных.
                            p Учитывая “объективные трудности” собирания доказательств нарушения условий содержания заключенных, суды должны содействовать им в этом. В частности, запросить у администрации колонии фото или видео камеры либо назначить экспертизу условий содержания.
                            p Оспорить можно не только условия содержания в СИЗО или колонии, но и условия перевозки. Суд должен оценивать вместимость транспортного средства и площадь на одного человека, освещенность и проветриваемость, температуру воздуха, обеспеченность водой и едой, длительность нахождения в пути.
                        .new__source Источник новости: “Российская газета


                    //- call
                    .service__call.new__call
                        .service__call-txt Нужен профессиональный адвокат? Напишите нам. Первая консультация бесплатно.
                        a(href='#').service__call-btn.btn2
                            span.btn2__text Получить консультацию
                    //- nav
                    .new__nav
                        .nnav
                            //- top
                            .nnav__top
                                a(href='articles.html').nnav__back
                                    +icon('arr','nnav__back-svg')
                                    span.nnav__back-txt НАЗАД К СПИСКУ

                                button(type='button').nnav__share
                                    span.nnav__share-txt ПОДЕЛИТЬСЯ:
                                    +image('images/icons/share.svg','','nnav__share-svg')

                            //- bottom
                            .nnav__bottom
                                a(href='new.html').nnav__item
                                    +icon('prev','nnav__item-svg')
                                    span.nnav__item-block
                                        span.nnav__item-title Предыдущая статья
                                        span.nnav__item-txt Верховный суд разъяснил, какие права есть у заключенных какие права есть у заключенных...
                                a(href='new.html').nnav__item
                                    span.nnav__item-block.nnav__item-block_next
                                        span.nnav__item-title Следующая статья
                                        span.nnav__item-txt Верховный суд разъяснил, какие права есть у заключенных какие права есть у заключенных...
                                    +icon('next','nnav__item-svg')
                    //- services
                    .new__services
                        .nservs
                            .nservs__title.ntitle Услуги по теме
                            .nservs__list
                                each i,x in ['Экономические преступления','Адвокат при проверках ОБЭП (УЭБиПК), ОУР']
                                    a(href='service.html').nserv
                                        +image('images/content/new/s'+(x+1)+'.jpg','','nserv__img')
                                        span.nserv__title= i
                                        span.nserv__link
                                            span.nserv__link-txt Подробнее
                                            +icon('line','nserv__link-svg')
                    //- articles
                    .new__article
                        .natrs
                            .narts__title.ntitle Статьи по теме
                            .narts__list
                                each i,x in ['Как можно снизить размер алиментов','Как заключить мировое соглашение']
                                    a(href='article.html').nart
                                        span.nart__img
                                            +image('images/content/new/a'+(x+1)+'.jpg','','nart__img-img')
                                        span.nart__desc
                                            span.nart__title= i
                                            span.nart__txt К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...
                                            span.btn.nart__link
                                                span.btn__text Подробнее
                                                +icon('line','btn__svg')

































