extends ../main

block variables
    - var title = 'Услуги'
    - var main = false

block content
    main.service
        .container.container_bg
            .row
                //- left
                .service__left.left
                    +aside(amenuService)

                //- right
                .service__right.right
                    //- bread
                    .bread.bread_second.service__bread
                        a(href='/').bread__item
                            +icon('home', 'bread__item-svg')
                        a(href='services.html').bread__item
                             span.bread__item-title Услуги
                        a().bread__item.active
                            span.bread__item-title Экономические преступления
                    //- title
                    .service__title.title2 Экономические преступления
                    //- img
                    .service__img
                        +image('images/content/service/img.jpg','','service__img-img')
                    //- sub
                    .service__sub Наиболее частые экономические преступления – налоговые преступления, мошенничества, незаконная предпринимательская деятельность, преднамеренное или фиктивное банкротство, уклонение от уплаты таможенных платежей и многие другие.
                    //- content
                    .service__content
                        .content
                            h2 Вас обвиняют
                            p Экономическая среда в нашей стране достаточно нестабильна. Даже при полном соблюдении закона, Ваша организация может попасть под подозрение. В совершении экономических преступлений могут подозревать сотрудников организации, ее руководителей или других ответственных лиц. Опасно оставаться в такой ситуации без квалифицированной поддержки, пытаться замять, забыть или оправдаться “на словах”.
                            p Лучший способ игры – игра по правилам. Чтобы оправдать себя и своих сотрудников, наиболее эффективным будет как можно скорее обратиться за помощью к адвокату. Именно адвокат сможет выявить обстоятельства, оправдывающие или смягчающие ответственность обвиняемого, разработать линию защиты, а также верно истолковать ситуацию контролирующим органам.
                            h2 Вы потерпевший
                            p Сами компании нередко страдают от действий третьих лиц: мошеннические действия, рейдерские захваты, хищения имущества предприятий и т.д.
                            p В этом случае, сотрудников компании вызывают для участия в следственных действиях и оперативно-розыскных мероприятиях уже на этапе проверки заявления о совершенном преступлении. Участие адвоката в данном случае не является обязательным, но оно желательно: неправильная дача показаний может помешать организации отстоять свою позицию как потерпевшего. Следовательно, могут возникнуть сложности предъявлением гражданского иска и компенсацией ущерба.
                            p Во избежание подобных проблем необходимо и в данной ситуации обратиться к адвокату, чтобы правильно выстроить позицию всех сотрудников компании по уголовному делу.
                            h3 Услуги
                            ul
                                li Консультации по правовым вопросам в области уголовного и уголовно-процессуального права
                                li Представление интересов доверителя в правоохранительных органах на стадии проверочного материала
                                li Составление заявлений, жалоб, ходатайств и других документов по вопросам уголовного права
                                li Представление интересов доверителя на стадии дознания и предварительного следствия, при вызове на допрос в правоохранительные органы в качестве свидетеля
                                li Представление интересов доверителя как потерпевшего по уголовному делу на стадии дознания и предварительного следствия
                                li Защита по уголовному делу подозреваемого или обвиняемого на стадии дознания или предварительного следствия
                                li Посещение обвиняемых в изоляторах временного содержания и следственных изоляторах
                                li Защита интересов подсудимого в суде первой инстанции, независимо от продолжительности нахождения уголовного дела в суде
                                li Написание кассационных жалоб на приговор суда первой инстанции
                                li Защита интересов осужденного в суде кассационной инстанции
                                li Защита интересов осужденного в суде надзорной инстанции
                                li Представление интересов при досрочном погашении судимости
                                li Представление интересов осужденных в комиссии по помилованию
                            h2 Стоимость работы адвоката по экономическим преступлениям
                            p
                                | Все условия ведения дела и размер гонорара адвоката по экономическим преступлениям оговариваются индивидуально.&nbsp;
                                a(href='/') Стоимость услуг адвоката по экономическим преступлениям можно увидеть здесь.
                            h3 Кроме того
                            p Осуществляется бесплатная предварительная консультация адвоката по экономическим преступлениям по телефону.
                    //- warning
                    .service__warning
                        +image('images/icons/warning.svg','','service__warning-img')
                        .service__warning-txt Помните: адвокат вправе вступить в дело на любой стадии процесса.
                    //- call
                    .service__call
                        .service__call-txt Возникли вопросы? Свяжитесь с нами, чтобы получить подробную информацию об услуге
                        a(href='#').service__call-btn.btn2
                            span.btn2__text Получить консультацию






























