.button {

}

.link{
  color: #d49f40;
  @include tr;

  &:hover{
    color: #adadad;
  }
}

.btn{
  display: flex;
  align-items: center;

  &:hover{
    .btn{
      &__text{
        color: #adadad;
      }
      &__svg{
        stroke: #adadad;
      }
    }
  }

  &__text{
    color: #fec86a;
    font-size: 16px;
    font-weight: 500;
    line-height: lh(16px,20.08px);
    text-transform: uppercase;
    margin-right: 25px;
    @include tr;
  }

  &__svg{
    width: 71px;
    height: 10px;
    stroke: #fec86a;
    @include tr;
  }

}

.btn2{
  width: 330px;
  height: 69px;
  border-radius: 6px;
  border: 2px solid #8e6a2c;
  background-image: linear-gradient(180deg, #ffc677 0%, #b08336 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;

  &:hover{
    border: 2px solid #8e6a2c;
    background-image: linear-gradient(180deg, #fff177 0%, #b08336 100%);
  }


  &__text{
  }
}

.btn3{
  width: 308px;
  height: 65px;
  border-radius: 4px;
  border: 2px solid #de9b27;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    background-image: linear-gradient(168.02deg, #d4b172 0%, #f3c168 18%, #deb66f 79%, #d4b172 100%);
    .btn3{
      &__svg{
        fill: $bg;
      }

      &__text{
        color: $bg;
      }
    }
  }

  &__svg{
    width: 22px;
    height: 19px;
    fill: #de9b27;
    margin-right: 20px;
  }

  &__text{
    color: #de9b27;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.logo{
  display: flex;
  align-items: center;

  &__left{
    margin-right: 12px;

    &_footer{
      margin-right: 6px;
    }
  }

  &__1{
    width: 116px;
    height: 116px;
    fill: $bg;

    &_footer{
      width: 72px;
      height: 72px;
      fill: #e9b365;
    }

    &_menu{
      width: 72px;
      height: 72px;
      fill: #e9b365;
    }

    &_fixed{
      width: 58px;
      height: 58px;
    }
  }

  &__right{
    display: flex;
    flex-direction: column;
  }

  &__2{
    width: 140px;
    height: 26px;
    fill: $bg;
    margin-bottom: 5px;

    &_footer{
      width: 115px;
      height: 21px;
      fill: #e9b365;
      margin-bottom: 0;
    }
    &_menu{
      width: 100px;
      height: 18px;
      fill: #000;
      margin-bottom: 5px;
    }
    &_fixed{
      width: 90px;
      height: 16px;
    }
  }

  &__3{
    width: 150px;
    height: 26px;
    fill: $bg;

    &_footer{
      width: 135px;
      height: 21px;
    }
    &_menu{
      width: 110px;
      height: 18px;
      fill: #000;
    }
    &_fixed{
      width: 100px;
      height: 16px;
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;

  &_menu{
    flex-direction: row;
  }

  &_fixed {
    flex-direction: row;
  }
}

.social {
  width: 45px;
  height: 45px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  @include tr;

  &:hover{
    border: 2px solid #d49f40;
    .social__svg{
      fill: #d49f40;
    }
  }

  &_menu{
    margin-bottom: 0;
    margin-right: 50px;
    border: 2px solid #2c2c2c;

    .social__svg{
      fill: #2c2c2c;
    }

    &:hover{
      border: 2px solid #d49f40;

      .social__svg{
        fill:#d49f40;
      }
    }
  }

  &_fixed {
    margin-right: 35px;
    margin-bottom: 0;

    width: 35px;
    height: 35px;
    border: 2px solid rgba(255, 255, 255, 0.3);

    &:hover{
      border: 2px solid #d49f40;

      .social__svg{
        fill: #d49f40;
      }
    }

    .social__svg{
      fill: rgba(255, 255, 255, 0.3);

      &_vk{
        width: 25px;
        height: 14px;
      }

      &_fb{
        width: 18px;
        height: 18px;
      }

      &_inst{
        width: 17px;
        height: 17px;
      }

      &_yt{
        width: 23px;
        height: 23px;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }

  &__svg {
    fill: $bg;
    @include tr;

    &_vk {
      width: 27px;
      height: 15px;
    }

    &_fb {
      width: 20px;
      height: 20px;
    }

    &_inst {
      width: 19px;
      height: 19px;
    }

    &_yt {
      width: 25px;
      height: 25px;
    }
  }
}

.slider{
  background: url("/images/content/partners/bg.jpg") center 0 no-repeat;
  background-size: cover;
  padding-top: 115px;
  padding-bottom: 140px;

  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title{
    color: $bg;
    font-family: "Roboto Slab";
    font-size: 40px;
    font-weight: 700;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 70px;

    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -74px;

      width: 148px;
      height: 10px;
      background-color: #e9bb6b;
    }
  }

  &__slider{
    width: 100%;
    position: relative;
  }

  &__btn{
    &.swiper-button-disabled{
      opacity: .5;
    }

    &-svg{
      width: 30px;
      height: 50px;
      fill : #e9bb6b;
    }
  }

  &__prev{
    position: absolute;
    top: 205px;
    left: 0;
    z-index: 100;
  }

  &__next{
    position: absolute;
    top: 205px;
    right: 0;
    z-index: 100;
  }

}

.slide{
  display: flex;
  flex-direction: column;

  &:hover{
    .slide{
      &__txt{
        opacity: 1;
      }

      &__link{
        &-txt{
          color: #adadad;
        }
        &-svg{
          stroke: #adadad;
        }
      }
    }
  }

  &__img{
    margin: 0 auto;
    width: 160px;
    height: 160px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
    display: block;

    &-wrap{
      border-radius: 50%;
      overflow: hidden;
      display: block;
    }

    &-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__desc{
    display: flex;
    flex-direction: column;

  }

  &__title{
    color: $bg;
    font-family: "Roboto Slab";
    font-size: 20px;
    font-weight: 700;
    line-height: lh(20px,25.1px);
    margin-bottom: 5px;
    text-align: center;
  }

  &__exp{
    color: $bg;
    font-size: 14px;
    line-height: lh(14px,18.41px);
    margin-bottom: 25px;
    text-align: center;
  }

  &__txt{
    background: linear-gradient(to bottom, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $bg;
    font-weight: 300;
    line-height: lh(16px,21.04px);
    opacity: .5;
    padding-bottom: 30px;
    padding-left: 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    @include tr;
  }

  &__bottom{
    display: flex;
    align-items: center;
    margin-top: -10px;
    &:before{
      content: '';
      height: 1px;
      background: rgba(255, 255, 255, 0.25);
      flex-grow: 1;
      margin-right: 15px;
    }
  }

  &__link {
    &-txt{
      margin-right: 10px;
    }

  }

}

.bread{
  margin-left: -20px;



  &__item{
    padding: 0 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.25);

    &:last-child{
      border-right: none;
    }

    &.active{
      .bread__item-title{
        color: rgba(0, 0, 0, 0.75);
      }
    }

    &-svg{
      width: 17px;
      height: 17px;
      fill: #d49f40;
    }

    &-title{
      line-height: 125.5%;
      color: rgba(0, 0, 0, 0.25);
    }
  }
}

.title{
  display: flex;
  justify-content: center;

  &__wrap{
    position: relative;
    padding-bottom: 60px;

    &_imedia{
      padding-bottom: 45px;
    }

    &_services{
      padding-bottom: 35px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 148px;
      height: 10px;
      margin-left: -74px;
      background-image: linear-gradient(175.91deg, #d4b172 0%, #f3c168 18%, #deb66f 79%, #d4b172 100%);
    }
  }

  &__title{
    color: #191919;
    font-family: "Roboto Slab";
    font-size: 40px;
    font-weight: 700;
    position: relative;

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      width: 355px;
      height: 1px;
      top: 50%;
    }

    &:before {
      right: calc(100% + 35px);
      background: linear-gradient(to right, rgba(#bebebe, 0) 0%, rgba(#bebebe, 1) 100%)
    }

    &:after {
      left: calc(100% + 35px);
      background: linear-gradient(to right, rgba(#bebebe, 1) 0%, rgba(#bebebe, 0) 100%);
    }
  }
}

.title2{
  color: #191919;
  font-family: "Roboto Slab";
  font-size: 40px;
  font-weight: 700;
  line-height: lh(40px,56.8px);
  padding-bottom: 29px;
  position: relative;

  &:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 148px;
    height: 10px;
    background-color: #d49f40;
  }
}