.footer {

  &__top {
    background: url("/images/bg/footer-bg.jpg") center 0 no-repeat;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 45px;
    @include lg-block{
      padding-top: 50px;
      padding-bottom: 70px;
    }
    @include sm-block{
      padding-top: 35px;
    }
  }

  &__left{
    @include col;
    @include size(8);
    padding-right: 20px;
    @include size-lg(20);
    @include lg-block{
      padding-right: 0;
      margin-bottom: 50px;
    }
    @include size-sm(24);
    @include sm-block{
      margin-bottom: 35px;
    }
  }

  &__logo{
    margin-bottom: 22px;
    @include sm-block{
      margin-bottom: 30px;
    }
  }

  &__txt{
    color: $bg;
    font-weight: 300;
    line-height: lh(16px,22.72px);
  }

  &__center{
    @include col;
    @include size(8);
    padding-top: 20px;
    @include size-lg(12);
    @include lg-block{
      padding-top: 0;
    }
    @include size-sm(24);
    @include sm-block{
      margin-bottom: 75px;
    }
  }

  &__right{
    @include col;
    @include size(8);
    padding-top: 20px;
    padding-left: 50px;
    @include size-lg(12);
    @include lg-block{
      padding-top: 10px;
      padding-left: 20px;
    }
    @include size-sm(24);
    @include sm-block{
      padding: 0;
    }
  }

  &__socials{
    @include col;
    @include size(24);
    display: flex;
    justify-content: center;
    margin-top: 90px;
    @include lg-block{
      margin-top: 65px;
    }
  }

  &__bottom{
    background-color: #050e1c;
    text-align: center;
    padding: 20px;
    @include lg-block{
      padding: 25px;
    }
    @include sm-block{
      padding: 20px;
    }
  }

  &__copy{
    color: #6c6c6c;
    a{
      color: $bg;
      &:hover{
        text-decoration: underline;
      }
    }
  }

}

.ffeed{
  background-image: linear-gradient(112.56deg, #0e1929 0%, #1a4254 100%);
  padding-top: 50px;
  padding-bottom: 25px;
  @include lg-block{
    padding-bottom: 50px;
  }
  @include sm-block{
    padding: 40px 0;
  }

  &__left{
    @include col;
    @include size(10);
    @include size-lg(22);
    @include shift-lg(1);
    @include lg-block{
      margin-bottom: 30px;
    }
    @include size-sm(24);
    @include shift-sm(0);
  }

  &__title{
    color: $bg;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
  }

  &__right{
    @include col;
    @include size(14);
    @include size-lg(22);
    @include shift-lg(1);
    @include size-sm(24);
    @include shift-sm(0);
  }

  &__fields{
    display: flex;
    flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
    margin-bottom: 10px;
    @include sm-block{
      margin-bottom: 30px;
    }
  }

  &__field{
    width: calc(100%/3 - 15px);
    margin-left: 7.5px;
    margin-right: 7.5px;
    @include sm-block{
      width: calc(100%/1 - 15px);
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: $bg;
    padding: 0 15px;
    color: $text;
    font-size: 14px;
    font-weight: 400;
  }

  &__submit{
    width: 100%;
    height: 40px;
    font-size: 14px;
    @include sm-block{
      width: 200px;
    }
  }

  &__policy{
    color: $bg;
    font-size: 10px;
    line-height: lh(10,16);

    a{
      text-decoration: underline;
    }
  }
}

.flist{
  display: flex;
  flex-wrap: wrap;

  &__col{
    width: 50%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 40px 60px 40px;

    &:first-child{
      border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
    @include sm-block{
      padding-left: 35px;
      padding-right: 10px;
      padding-bottom: 10px;
    }

  }

  &__item{
    display: block;
    color: $bg;
    font-size: 20px;
    margin-bottom: 20px;
    @include tr;

    &:hover{
      color: #d49f40;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.fcontacts{

  &__title{
    color: #f1ba6c;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 35px;
  }

}

.fcontact{
  display: flex;
  margin-bottom: 20px;

  &:last-child{
    margin-bottom: 0;
  }

  &__svg{
    fill: #d49f40;
    min-width: 22px;
    margin-right: 15px;

    &_phone{
      width: 20px;
      height: 20px;
    }

    &_email{
      width: 22px;
      height: 18px;
    }

    &_pin{
      width: 18px;
      height: 23px;
    }
  }

  &__title{
    margin-top: -4px;
    color: #d6d6d6;
    font-size: 18px;
    line-height: lh(18px,27px);
  }

}

.fsocials{
  display: flex;
  flex-wrap: wrap;
}

.fsocial{
  width: 34px;
  height: 34px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  @include tr;

  &:last-child{
    margin-right: 0;
  }

  &:hover{
    border: 2px solid #d49f40;
    .fsocial__svg{
      fill:  #d49f40;
    }
  }

  &__svg{
    fill: rgba(255, 255, 255, 0.8);
    @include tr;

    &_vk{
      width: 21px;
      height: 12px;
    }

    &_inst{
      width: 15px;
      height: 15px;
    }

    &_yt{
      width: 19px;
      height: 19px;
    }

    &_fb{
      width: 16px;
      height: 16px;
    }
  }

}