.header {

  &__main {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    @include sm-block {
      padding-top: 12px;
    }
  }

  &__fixed {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(126.79deg, #0e1929 0%, #1b5a74 100%);

    &_main {
      transition: .4s;
      top: -200px;

      &.active {
        top: 0;
      }
    }
  }

  &__row {
    align-items: flex-start;
    @include sm-block {
      align-items: center;
    }

  }

  &__left {
    @include col;
    @include size(14);
    display: flex;
    align-items: center;
    padding-top: 30px;
    @include size-lg(9.5);
    @include size-sm(18);
    @include sm-block {
      padding-top: 0;
    }
  }

  &__btn {
    margin-right: 90px;
    display: block;
    @include lg-block {
      margin-right: 35px;
    }

    &:hover {
      .header__btn-svg {
        fill: #d49f40;
      }
    }


    &-svg {
      width: 40px;
      height: 25px;
      fill: $bg;
      @include tr;

    }
  }

  &__right {
    @include col;
    @include size(10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include size-lg(14.5);
    @include size-sm(6);
    @include lg-block {

    }
    @include sm-block {
      justify-content: flex-end;
    }
  }

  &__tel {
    @include sm-block {
      display: none;
    }
  }

}

.hfixed {
  display: flex;
  align-items: center;
  @include sm-block {
    justify-content: space-between;
  }

  &__menu {
    margin-right: 45px;
    @include lg-block {
      margin-right: 35px;
    }
    @include sm-block {
      margin-right: 0;
    }
  }

  &__btn {
    display: block;

    &:hover {
      .hfixed__btn-svg {
        fill: #d49f40;
      }
    }

    &-svg {
      width: 40px;
      height: 25px;
      fill: $bg;
      @include tr;
      @include sm-block {
        width: 26px;
        height: 16px;
      }
    }
  }

  &__logo {
    margin-right: auto;
    padding: 10px 0;
    @include sm-block {
      margin: 0;
      padding: 6px 0;
    }
  }

  &__socials {
    margin-right: 95px;
    @include lg-block {
      display: none;
    }
  }

  &__tel {
    margin-right: 45px;
    margin-bottom: -30px;
    margin-top: -1px;
    align-self: flex-start;
    @include sm-block {
      display: none;
    }
  }

  &__search {
    .search__svg {
      width: 25px;
      height: 25px;
    }
  }
}

.search {
  display: flex;

  &:hover {
    .search__svg {
      fill: #d49f40;
    }
  }

  &__svg {
    width: 39px;
    height: 39px;
    fill: $bg;
    @include tr;

    &_b {
      width: 25px;
      height: 25px;
      fill: #000;
    }
  }
}

.htel {
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #d49f40;
  padding: 12px;
  padding-top: 0;

  &_f {
    padding: 10px;
    padding-top: 0;
  }


  &__tel {
    width: 334px;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1.5px dashed #FFFFFF;
    border-top: none;
    padding-top: 25px;
    padding-bottom: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_f {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &-svg {
      width: 30px;
      height: 31px;
      fill: $bg;
      margin-right: 10px;

      &_f {
        width: 24px;
        height: 24px;
      }
    }

    &-tel {
      color: $bg;
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
    }

  }

  &__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &_f {
      margin-bottom: 10px;
    }
  }

  &__txt {
    color: $bg;
    text-transform: uppercase;
  }

}

.menu {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fdfdfd;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  width: 100%;
  max-width: 100%;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__top {
    padding: 30px 0;
    border-bottom: 1px solid #e8e8e8;
    @include sm-block {
      padding: 12px 0;
    }

    &-container {
      display: flex;
      align-items: center;
      @include sm-block {
        max-width: 100%;
        padding: 0 20px;
        justify-content: space-between;
      }
    }

  }

  &__close {
    margin-right: 25px;
    @include sm-block {
      margin-right: 0;
    }

    &-svg {
      width: 26px;
      height: 18px;
      fill: #a8a8a8;
    }
  }

  &__logo {
    margin-right: auto;
    @include sm-block {
      margin-right: 0;
    }
  }

  &__socials {
    margin-right: 65px;
    @include lg-block {
      display: none;
    }

    &-t {
      display: none;
      @include lg-block {
        display: flex;
        justify-content: flex-start;
      }
      @include sm-block{
          justify-content: center;
      }
    }

    &-m{
      display: none;
      @include sm-block{
        display: flex;
        justify-content: center;
      }
    }
  }

  &__tel {
    margin-right: 60px;
    @include sm-block {
      display: none;
    }

    &-m {
      display: none;
      @include sm-block{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
      }
    }
  }

  &__search {
    margin-right: 25px;
    @include lg-block {
      margin-right: 15px;
    }
    @include sm-block{
      margin-right: 0;
    }
  }

  &__bottom {
    flex-grow: 1;

    &-container {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      @include sm-block {
        position: relative;
        max-width: 100%;
        width: 100%;
        padding: 0;
      }
    }
  }

  &__left {
    height: 100%;
    padding-top: 50px;
    width: 32%;
    border-right: 1px solid #e8e8e8;
    @include lg-block {
      padding-bottom: 50px;
    }
    @include sm-block{
      width: 100%;
      padding-top: 0;
      display: none;

      &.active{
        display: block;
      }
    }
  }

  &__nav{
    @include sm-block{
      margin-bottom: 35px;
    }
  }

  &__right {
    height: 100%;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 0px;
    width: 68%;
    background-color: #fafafa;
    border-right: 1px solid #e8e8e8;
    @include lg-block {
      padding-bottom: 50px;
    }
    @include sm-block {
      width: 100%;
      padding: 0;
      padding-bottom: 50px;
      display: none;
      &.active{
        display: block;
      }
    }
  }

  &__block {
    display: none;
    @include sm-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid #e8e8e8;
      background: $bg;
    }
  }

  &__back {
    color: #090909;
    font-size: 20px;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 6px 5px 0;
      border-color: transparent #d49f40 transparent transparent;
      margin-right: 12px;
    }
  }

  &__link {
    color: #cbcbcb;
    font-size: 12px;
    display: flex;
    align-items: center;

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 6px;
      border-color: transparent transparent transparent #cbcbcb;
      margin-left: 12px;
    }
  }

  &__list {
    @include lg-block {
      margin-bottom: 60px;
    }
    @include sm-block{
      margin-bottom: 35px;
    }
  }

}

.msocials {
  display: flex;
  flex-wrap: wrap;
}

.msocial {
  width: 34px;
  height: 34px;
  border: 2px solid #2c2c2c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  @include tr;

  &:hover {
    border: 2px solid #d49f40;

    .msocial__svg {
      fill: #d49f40;
    }
  }

  &:last-child {
    margin-right: 0;
  }


  &__svg {
    fill: #2c2c2c;
    @include tr;

    &_vk {
      width: 21px;
      height: 12px;
    }

    &_inst {
      width: 15px;
      height: 15px;
    }

    &_yt {
      width: 19px;
      height: 19px;
    }

    &_fb {
      width: 16px;
      height: 16px;
    }
  }

}

.mtel {

  &__tel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-svg {
      width: 30px;
      height: 31px;
      fill: #d49f40;
      margin-right: 10px;
      @include sm-block{
        width: 24px;
        height: 25px;
      }
    }

    &-tel {
      color: #373737;
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
      @include sm-block{
        font-size: 20px;
      }
    }

  }

  &__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__txt {
    color: #373737;
    text-transform: uppercase;
    @include sm-block{
      font-size: 12px;
    }
  }

}

.mnav {

  &__row {
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    flex-wrap: wrap;

    &:last-of-type {
      border: none;
      @include sm-block{
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }

  &__item {
    width: 50%;
    padding: 25px 0;
    color: #090909;
    font-size: 20px;
    @include tr;

    @include lg-block {
      width: 100%;
      border-bottom: 1px solid #e8e8e8;
    }
    @include sm-block{
      padding: 5px 30px 5px 20px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      color: #d49f40;
    }

    &_link {
      &:after {
        content: '';
        display: none;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 6px;
        border-color: transparent transparent transparent #d49f40;
        margin-left: 12px;
        @include sm-block{
          display: block;
        }
      }
    }
  }
}

.mlist {
  @include row-flex;
  align-items: center;
  @include sm-block{
    margin: 0;
  }

  &__item {
    @include col;
    @include size(12);
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    @include size-lg(24);
    @include lg-block {
      margin-bottom: 45px;
    }
    @include size-sm(24);
    @include sm-block {
      width: 100%;
      margin: 0;
      border-bottom: 1px solid #e8e8e8;
      padding: 5px 10px 5px 20px;
      height: 70px;
    }

    &:last-child {
      @include lg-block {
        margin-bottom: 0;
      }
    }

    &:hover {
      .mlist__item-title {
        color: #d49f40;
      }
    }

    &-img {
      min-width: 28px;
      width: 28px;
      height: 28px;
      margin-right: 35px;
      display: flex;
      align-items: center;
      @include sm-block {
        margin-right: 20px;
      }
    }

    &-pic {
      max-width: 100%;
      max-height: 100%;
      fill: #D49F40;
    }

    &-title {
      color: #000000;
      line-height: lh(16px, 22.72px);
      @include tr;
      @include sm-block {
        font-size: 16px;
      }
    }


  }

}

