.news {
  @include lg-block {
    background: url("/images/content/news/bg.png") center top -50px no-repeat;
  }
  @include sm-block {
    background: none;
  }

  &__container {
    padding-bottom: 200px;
    @include lg-block {
      padding-bottom: 140px;
    }
    @include sm-block{
      padding-bottom: 75px;
    }
  }

  &__right {
    padding-top: 15px;
    background: url("/images/content/news/bg.png") center bottom -40px no-repeat;
    @include lg-block {
      background: none;
    }
    @include sm-block {
      padding-top: 0;
    }
  }

  &__bread {
    margin-bottom: 20px;
    @include lg-block {
      margin-top: 35px;
      margin-bottom: 30px;
    }
    @include sm-block {
      margin-top: 0;
      margin-bottom: 25px;
    }
  }

  &__title {
    margin-bottom: 70px;
    @include lg-block {
      margin-bottom: 50px;
    }
    @include sm-block {
      margin-bottom: 23px;
    }
  }

  &__nav {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 90px;
    @include lg-block {
      margin-bottom: 70px;
    }
    @include sm-block {
      justify-content: space-between;
      margin-bottom: 30px;
    }
  }

  &__arr {
    margin: 0;
    width: 67px;
  }

  &__pag {
    margin: 0;
    width: calc(100% - 134px);
    flex-grow: 1;
    @include sm-block {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__slider {
    margin-bottom: 30px;
    @include sm-block{
      margin-bottom: 65px;
    }
  }

  &__list {
    margin-left: -45px;
    margin-right: -45px;
    @include lg-block {
      @include row-flex;
    }
  }

  &__item {
    width: calc(50% - 90px);
    margin-left: 45px;
    margin-right: 45px;
    @include lg-block {
      @include col;
    }
    @include size-lg(12);
    @include size-sm(24);

    &:nth-child(3) {
      @include lg-block {
        display: block;
      }
    }

    &:last-child{
      @include sm-block{
        margin-bottom: 0;
      }
    }
  }

  &__more {
    margin: 0 auto;
    margin-bottom: 95px;
    @include sm-block{
      width: 270px;
      height: 53px;
      margin-bottom: 60px;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {

  }

  &__item {
    color: #858585;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    margin-right: 25px;
    @include tr;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #de9b27;
    }

    &.active {
      border-bottom: 3px solid #de9b27;
      font-size: 26px;
      color: #de9b27;
    }

  }

  &__arr {
    display: flex;
    align-items: center;

    @include sm-block{

      &:before{
        content: '';
        width: 13px;
        height: 22px;
        display: block;
      }
    }

    &:hover {
      .pagination__arr {
        &-txt {
          color: #c99456;
        }

        &-svg {
          fill: #c99456;

        }
      }
    }

    &-svg {
      width: 67px;
      height: 8px;
      fill: #000000;
      @include tr;
      @include sm-block{
        display: none;
      }
    }

    &-txt {
      color: #242629;
      font-size: 18px;
      @include tr;
      @include lg-block {
        font-size: 14px;
      }
      @include sm-block{
        display: none;
      }
    }
  }

  &__prev {

    &:before{
      background: url("/images/icons/prev.svg") 0 0 no-repeat;
      background-size: cover;
    }

    svg {
      margin-right: 20px;
    }
  }

  &__next {

    &:before{
      background: url("/images/icons/next.svg") 0 0 no-repeat;
      background-size: cover;
    }

    svg {
      margin-left: 20px;
    }
  }

}

.new {

  &__container {
    padding-bottom: 145px;
  }

  &__right {
    padding-top: 14px;
  }

  &__bread {
    margin-bottom: 33px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 20px;
  }

  &__item {
    color: #8a8989;
    font-size: 14px;
    padding: 0 25px;
    line-height: lh(14, 23);
    border-right: 1px solid #8a8989;

    &:last-child {
      border-right: none;
    }
  }

  &__row {
    @include row-flex;
    margin-bottom: 45px;

    &-left {
      @include col;
      @include size(5/9*24);
    }

    &-right {
      @include col;
      @include size(4/9*24);
    }
  }

  &__img {
    display: block;
  }

  &__sub {
    color: #000000;
    font-weight: 500;
    line-height: 142%;
  }

  &__content {
    margin-bottom: 75px;
  }

  &__source {
    font-family: "Roboto Slab";
    font-weight: 300;
    margin-top: 50px;
  }

  &__call {
    margin-bottom: 65px;
  }

  &__nav {
    margin-bottom: 80px;
  }

  &__services {
    margin-bottom: 80px;
  }

}

.nnav {
  border-top: 1px solid #dcdcdc;
  padding-top: 53px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__back {
    display: flex;
    align-items: center;

    &-svg {
      width: 29px;
      height: 12px;
      fill: #000000;
      transform: rotate(180deg);
      margin-right: 15px;
    }

    &-txt {
      color: #000000;
      font-size: 14px;
    }
  }

  &__share {
    display: flex;
    align-items: center;

    &-txt {
      color: #000000;
      font-size: 14px;
      margin-right: 25px;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
  }

  &__item {
    width: calc(50% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    height: 147px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 30px 20px 20px 25px;
    border: 1px solid transparent;
    @include tr;

    &:hover {
      border: 1px solid #cbcbcb;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    }

    &-svg {
      min-width: 30px;
      width: 30px;
      height: 50px;
      fill: #e8bb6c;
    }

    &-block {
      margin-left: 25px;

      &_next {
        margin-left: 0;
        margin-right: 25px;
      }
    }

    &-title {
      color: #000000;
      font-family: "Roboto Slab";
      font-size: 20px;
      margin-bottom: 15px;
      display: block;
    }

    &-txt {
      display: block;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 300;
      line-height: 125.5%;
      height: 60px;
      overflow: hidden;
    }
  }
}

.nservs {

  &__title {
    margin-bottom: 40px;
  }

}

.nserv {
  height: 198px;
  margin-bottom: 25px;
  display: block;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg, #0b1523 0%, #0b1523 16%, rgba(11, 21, 35, 0.2) 100%);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    &:before {
      background-image: linear-gradient(90deg, rgba(83, 52, 0, 0.8) 0%, rgba(103, 66, 0, 0.8) 21%, rgba(154, 98, 0, 0) 100%);
    }
  }


  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 25px 130px 25px 100px;

    color: $bg;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__link {
    position: absolute;
    z-index: 20;
    bottom: 20px;
    right: 25px;

    &-txt {
      color: $bg;
      font-weight: 500;
      text-transform: uppercase;
      margin-right: 15px;
    }

    &-svg {
      width: 106px;
      height: 14px;
      stroke: #b1976b;
    }
  }

}

.narts {

  &__title {
    margin-bottom: 45px;
  }

}

.nart {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid transparent;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  @include tr;

  &:hover {
    border: 1px solid #cbcbcb;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__img {
    min-width: 302px;
    width: 302px;
    min-height: 188px;

    &-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__desc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px 25px 20px 35px;
  }

  &__title {
    color: #000000;
    font-family: "Roboto Slab";
    font-size: 20px;
    line-height: lh(20px, 25.1px);
    margin-bottom: 20px;
  }

  &__txt {
    color: #000000;
    font-weight: 300;
    line-height: 127.5%;
    margin-bottom: 20px;
    max-width: 366px;
  }

  &__link {
    align-self: flex-end;

    .btn {

      &__text {
        font-size: 16px;
      }

      &__svg {
        width: 106px;
        height: 14px;
        margin-bottom: 10px;
      }
    }
  }

}

.ntitle {
  color: #000000;
  font-family: "Roboto Slab";
  font-size: 30px;
}