-
    var iservices = [
        'Экономические преступления',
        'Арбитражные споры',
        'Адвокат при проверках ОБЭП (УЭБиПК), ОУР',
        'Уголовный адвокат',
        'Адвокат по гражданским делам',
        'Адвокат по исполнительному производству'
    ];
-
    var iwhy = [
        {
            title: '892+',
            txt: 'Общее количество дел'
        },
        {
            title: '65%',
            txt: 'Юридических лиц'
        },
        {
            title: '35%',
            txt: 'Физических лиц'
        },
        {
            title: '89%',
            txt: 'Средний процент выигранных дел'
        }
    ];
-
    var isteps = [
        {
            title: 'Предварительная консультация',
            txt: 'На предварительной консультации осуществляется общее знакомство с проблемной ситуацией и ее предварительная оценка. '
        },
        {
            title: 'Оценка информации и выбор стратегии защиты',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. '
        },
        {
            title: 'Представительство и защита интересов',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. '
        },
        {
            title: 'Звонок и консультация',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. '
        },
        {
            title: 'Соглашение и подготовка документов',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. '
        },
        {
            title: 'Представительство и защита интересов',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. '
        }
    ];
-
    var flist = [
        [
            {
                title: 'Адвокат',
                href: 'about.html'
            },
            {
                title: 'Услуги',
                href: 'services.html'
            },
            {
                title: 'Статьи',
                href: 'articles.html'
            },
            {
                title: 'Новости',
                href: 'news.html'
            }
        ],
        [
            {
                title: 'Контакты',
                href: 'contacts.html'
            },
            {
                title: 'Я в СМИ',
                href: 'media.html'
            },
            {
                title: 'Партнеры',
                href: 'partners.html'
            },
            {
                title: 'Цены',
                href: 'prices.html'
            }
        ],

    ];
-
    var fcontacts = [
        {
            href: 'tel:+7(495)766-57-54',
            val: '+7 (495) 766-57-54',
            icon: 'phone'
        },
        {
            href: 'mailto:advokat103@list.ru',
            val: 'advokat103@list.ru',
            icon: 'email'
        },
        {
            href: 'https://yandex.ru/maps/-/CGd0yAl6',
            val: 'Москва, ул. Дружинниковская, 15 (киноцентр на Красной Пресне)',
            icon: 'pin'
        }
    ];
-
    var imedia = [
        {
            title: 'Адвокат Мария Матвеева приняла участие в программе “Мужское/женское” на Первом',
            txt: '55-летняя Альфия Шамсутдинова из Башкирии более двух лет борется за право самостоятельно воспитывать внуков'
        },
        {
            title: 'Адвокат Мария Матвеева дала комментарии телеканалу НТВ',
            txt: 'Власти США развернули кампанию по противодействию российским СМИ'
        },
        {
            title: 'Адвокат Мария Матвеева выступила в необычной для себя роли прокурора в телепрограмме телеканала НТВ “Суд присяжных”',
            txt: 'Власти США развернули кампанию по противодействию российским СМИ'
        },
        {
            title: '19 марта 1474 года в Венеции впервые в мире был применен закон об авторских правах Мария Матвеева об авторских правах',
            txt: 'Власти США развернули кампанию по противодействию российским СМИ'
        }
    ];
-
    var inews = [
        {
            title: 'Все новости',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Единый реестр проверок субъектов предпринимательства пополнится информацией о новых проверках...',
                    txt: 'Правительством Российской Федерации были внесены изменения в Правила формирования и ведения единого реестра проверок. В реестр будут добавлена информация о проверках... '
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления... ',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
                {
                    date: '23 января 2019',
                    cat: 'Бизнес',
                    title: '25 января вступит в силу Положение ЦБ РФ «Об общих собраниях акционеров».',
                    txt: '25 января вступит в силу Положение ЦБ РФ от 16.11.2018 № 660 «Об общих собраниях акционеров». Действие Положения «Об общих собраниях акционеров» распространяется на внеочередные и годовые собрания акционеров публичных и непубличных АО и их заочное голосование...'
                }
            ]
        },
        {
            title: 'Бизнес',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Единый реестр проверок субъектов предпринимательства пополнится информацией о новых проверках...',
                    txt: 'Правительством Российской Федерации были внесены изменения в Правила формирования и ведения единого реестра проверок. В реестр будут добавлена информация о проверках... '
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления... ',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
                {
                    date: '23 января 2019',
                    cat: 'Бизнес',
                    title: '25 января вступит в силу Положение ЦБ РФ «Об общих собраниях акционеров».',
                    txt: '25 января вступит в силу Положение ЦБ РФ от 16.11.2018 № 660 «Об общих собраниях акционеров». Действие Положения «Об общих собраниях акционеров» распространяется на внеочередные и годовые собрания акционеров публичных и непубличных АО и их заочное голосование...'
                }
            ]
        },
        {
            title: 'Наследство',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Единый реестр проверок субъектов предпринимательства пополнится информацией о новых проверках...',
                    txt: 'Правительством Российской Федерации были внесены изменения в Правила формирования и ведения единого реестра проверок. В реестр будут добавлена информация о проверках... '
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления... ',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
                {
                    date: '23 января 2019',
                    cat: 'Бизнес',
                    title: '25 января вступит в силу Положение ЦБ РФ «Об общих собраниях акционеров».',
                    txt: '25 января вступит в силу Положение ЦБ РФ от 16.11.2018 № 660 «Об общих собраниях акционеров». Действие Положения «Об общих собраниях акционеров» распространяется на внеочередные и годовые собрания акционеров публичных и непубличных АО и их заочное голосование...'
                }
            ]
        },
        {
            title: 'Госконтракты',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Единый реестр проверок субъектов предпринимательства пополнится информацией о новых проверках...',
                    txt: 'Правительством Российской Федерации были внесены изменения в Правила формирования и ведения единого реестра проверок. В реестр будут добавлена информация о проверках... '
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления... ',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
                {
                    date: '23 января 2019',
                    cat: 'Бизнес',
                    title: '25 января вступит в силу Положение ЦБ РФ «Об общих собраниях акционеров».',
                    txt: '25 января вступит в силу Положение ЦБ РФ от 16.11.2018 № 660 «Об общих собраниях акционеров». Действие Положения «Об общих собраниях акционеров» распространяется на внеочередные и годовые собрания акционеров публичных и непубличных АО и их заочное голосование...'
                }
            ]
        },
        {
            title: 'Авторские права',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Единый реестр проверок субъектов предпринимательства пополнится информацией о новых проверках...',
                    txt: 'Правительством Российской Федерации были внесены изменения в Правила формирования и ведения единого реестра проверок. В реестр будут добавлена информация о проверках... '
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления... ',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
                {
                    date: '23 января 2019',
                    cat: 'Бизнес',
                    title: '25 января вступит в силу Положение ЦБ РФ «Об общих собраниях акционеров».',
                    txt: '25 января вступит в силу Положение ЦБ РФ от 16.11.2018 № 660 «Об общих собраниях акционеров». Действие Положения «Об общих собраниях акционеров» распространяется на внеочередные и годовые собрания акционеров публичных и непубличных АО и их заочное голосование...'
                }
            ]
        },
        {
            title: 'Категория 6',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Единый реестр проверок субъектов предпринимательства пополнится информацией о новых проверках...',
                    txt: 'Правительством Российской Федерации были внесены изменения в Правила формирования и ведения единого реестра проверок. В реестр будут добавлена информация о проверках... '
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления... ',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
                {
                    date: '23 января 2019',
                    cat: 'Бизнес',
                    title: '25 января вступит в силу Положение ЦБ РФ «Об общих собраниях акционеров».',
                    txt: '25 января вступит в силу Положение ЦБ РФ от 16.11.2018 № 660 «Об общих собраниях акционеров». Действие Положения «Об общих собраниях акционеров» распространяется на внеочередные и годовые собрания акционеров публичных и непубличных АО и их заочное голосование...'
                }
            ]
        },
        {
            title: 'Категория 7',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Единый реестр проверок субъектов предпринимательства пополнится информацией о новых проверках...',
                    txt: 'Правительством Российской Федерации были внесены изменения в Правила формирования и ведения единого реестра проверок. В реестр будут добавлена информация о проверках... '
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления... ',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
                {
                    date: '23 января 2019',
                    cat: 'Бизнес',
                    title: '25 января вступит в силу Положение ЦБ РФ «Об общих собраниях акционеров».',
                    txt: '25 января вступит в силу Положение ЦБ РФ от 16.11.2018 № 660 «Об общих собраниях акционеров». Действие Положения «Об общих собраниях акционеров» распространяется на внеочередные и годовые собрания акционеров публичных и непубличных АО и их заочное голосование...'
                }
            ]
        },
        {
            title: 'Категория 8',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Единый реестр проверок субъектов предпринимательства пополнится информацией о новых проверках...',
                    txt: 'Правительством Российской Федерации были внесены изменения в Правила формирования и ведения единого реестра проверок. В реестр будут добавлена информация о проверках... '
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления... ',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
                {
                    date: '23 января 2019',
                    cat: 'Бизнес',
                    title: '25 января вступит в силу Положение ЦБ РФ «Об общих собраниях акционеров».',
                    txt: '25 января вступит в силу Положение ЦБ РФ от 16.11.2018 № 660 «Об общих собраниях акционеров». Действие Положения «Об общих собраниях акционеров» распространяется на внеочередные и годовые собрания акционеров публичных и непубличных АО и их заочное голосование...'
                }
            ]
        },
    ];
-
    var ipartners = [
        {
            src: 'images/content/partners/1.jpg',
            title: 'Виктор Алексеевич',
            exp: 'опыт работы 10 лет',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'partner.html'
        },
        {
            src: 'images/content/partners/2.jpg',
            title: 'Генадий Андреевич',
            exp: 'опыт работы 10 лет',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'partner.html'
        },
        {
            src: 'images/content/partners/3.jpg',
            title: 'Наталья Сергеевна',
            exp: 'опыт работы 10 лет',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'partner.html'
        },
        {
            src: 'images/content/partners/1.jpg',
            title: 'Виктор Алексеевич',
            exp: 'опыт работы 10 лет',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'partner.html'
        },
        {
            src: 'images/content/partners/2.jpg',
            title: 'Генадий Андреевич',
            exp: 'опыт работы 10 лет',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'partner.html'
        },
        {
            src: 'images/content/partners/3.jpg',
            title: 'Наталья Сергеевна',
            exp: 'опыт работы 10 лет',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'partner.html'
        }
    ];
-
    var iarts = [
        {
            title: 'Как можно снизить размер алиментов',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как заключить мировое соглашение',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как правильно написать ходатайство о восстановлении пропущенного срока?',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как можно снизить размер алиментов',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как заключить мировое соглашение',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как правильно написать ходатайство о восстановлении пропущенного срока?',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        }
    ];
-
    var mnav = [
        [
            {
                title: 'Главная',
                href: '/'
            },
            {
                title: 'Контакты',
                href: 'contacts.html'
            },
        ],
        [
            {
                title: 'Адвокат',
                href: 'about.html'
            },
            {
                title: 'Я в СМИ',
                href: 'media.html'
            },
        ],
        [
            {
                title: 'Услуги',
                href: 'services.html'
            },
            {
                title: 'Партнеры',
                href: 'partners.html'
            },
        ],
        [
            {
                title: 'Статьи',
                href: 'articles.html'
            },
            {
                title: 'Цены',
                href: 'prices.html'
            },
        ],
        [
            {
                title: 'Новости',
                href: 'news.html'
            }
        ]

    ];
-
    var mlist = [
        {
            src: 's1',
            title: 'Экономические преступления'
        },
        {
            src: 's6',
            title: 'Адвокат по исполнительному производству'
        },
        {
            src: 's2',
            title: 'Арбитражные споры'
        },
        {
            src: 's7',
            title: 'Семейный адвокат'
        },
        {
            src: 's3',
            title: 'Адвокат при проверках ОБЭП (УЭБиПК), ОУР'
        },
        {
            src: 's8',
            title: 'Адвокат по ДТП'
        },
        {
            src: 's4',
            title: 'Уголовный адвокат'
        },
        {
            src: 's9',
            title: 'Адвокат в ЕСПЧ'
        },
        {
            src: 's5',
            title: 'Адвокат по гражданским делам'
        }
    ];
-
    var sservs = [
        'Экономические преступления',
        'Арбитражные споры',
        'Адвокат при проверках ОБЭП (УЭБиПК), ОУР',
        'Уголовный адвокат',
        'Адвокат по гражданским делам',
        'Адвокат по исполнительному производству',
        'Семейный адвокат',
        'Адвокат по ДТП',
        'Адвокат в ЕСПЧ',
    ];
-
    var amenuService = {
        title: 'УСЛУГИ',
        list: [
            {
                icon: 's1',
                title: 'Экономические преступления'
            },
            {
                icon: 's2',
                title: 'Арбитражные споры'
            },
            {
                icon: 's3',
                title: 'Адвокат при проверках ОБЭП (УЭБиПК), ОУР'
            },
            {
                icon: 's4',
                title: 'Уголовный адвокат',
                cls: 'active'
            },
            {
                icon: 's5',
                title: 'Адвокат по гражданским делам'
            },
            {
                icon: 's6',
                title: 'Адвокат по исполнительному производству'
            },
            {
                icon: 's7',
                title: 'Семейный адвокат'
            },
            {
                icon: 's8',
                title: 'Адвокат по ДТП'
            },
            {
                icon: 's9',
                title: 'Адвокат в ЕСПЧ'
            }
        ]
    };
-
    var news = [
        {
            title: 'Все новости',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен.',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
            ]
        },
        {
            title: 'Бизнес',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен.',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
            ]
        },
        {
            title: 'Наследство',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен.',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
            ]
        },
        {
            title: 'Госконтракты',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен.',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
            ]
        },
        {
            title: 'Авторские права',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен.',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
            ]
        },
        {
            title: 'Категория 6',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен.',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
            ]
        },
        {
            title: 'Категория 7',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен.',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
            ]
        },
        {
            title: 'Категория 8',
            list: [
                {
                    date: '24 сентября 2019',
                    cat: 'Уголовное право',
                    title: 'Верховный суд разъяснил, какие права есть у заключенных',
                    txt: 'Какие права имеются у заключенных независимо от того, где именно они находятся – уже отбывают наказание в колонии, ожидают суда в следственном изоляторе или доставляются на судебное заседание либо для проведения... '
                },
                {
                    date: '06 марта 2019',
                    cat: 'Бизнес',
                    title: 'Конституционный Суд РФ защитил руководителей компаний-банкротов',
                    txt: 'Конституционный суд РФ запретил автоматически возлагать ответственность за убытки, полученные в ходе банкротства предприятия, на руководителя компании-должника. В постановлении КС подчеркивается, что без исследования всех обстоятельств и действий других лиц невозможно однозначно установить степень его вины, и следовательно, ответственности. С просьбой о проверке положений Федерального…'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен.',
                    txt: 'Президентский закон на эту тему Госдума приняла окончательно. Предпринимателей не будут наказывать Уголовным кодексом за нетяжкие экономические преступления, совершенные впервые и ущерб по которым был полностью погашен. Президентский закон на эту тему Госдума приняла окончательно. О необходимости таких...'
                },
                {
                    date: '24 сентября 2019',
                    cat: 'Бизнес',
                    title: 'Минфин России предложил закрепить неналоговые платежи в Налоговом кодексе',
                    txt: 'При этом предлагается установить мораторий на 10 лет на уголовную ответственность за неуплату этих платежей, сообщили в пресс-службе ведомства. В частности, речь идет...'
                },
            ]
        },
    ];
-
    var articles = [
        {
            title: 'Как можно снизить размер алиментов',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как заключить мировое соглашение',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как правильно написать ходатайство о восстановлении пропущенного срока?',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как можно снизить размер алиментов',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как заключить мировое соглашение',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как правильно написать ходатайство о восстановлении пропущенного срока?',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как можно снизить размер алиментов',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как заключить мировое соглашение',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как правильно написать ходатайство о восстановлении пропущенного срока?',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как можно снизить размер алиментов',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как заключить мировое соглашение',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        },
        {
            title: 'Как правильно написать ходатайство о восстановлении пропущенного срока?',
            txt: 'К основаниям, по которым может быть уменьшен размер выплачиваемых алиментов...'
        }
    ];
-
    var contacts = [
        {
            href: '',
            val: '08:00 - 21:00',
            icon: 'time'
        },
        {
            href: 'tel:+7(495)766-57-54',
            val: '+7 (495) 766-57-54',
            icon: 'phone'
        },
        {
            href: 'mailto:advokat103@list.ru',
            val: 'advokat103@list.ru',
            icon: 'email'
        },
        {
            href: 'https://yandex.ru/maps/-/CGd0yAl6',
            val: 'Москва, ул. Дружинниковская, 15 (киноцентр на Красной Пресне)',
            icon: 'pin'
        }
    ];
-
    var socials = [
        {
            icon: 'vk',
            href: '/'
        },
         {
            icon: 'fb',
            href: '/'
        },
         {
            icon: 'inst',
            href: '/'
        },
         {
            icon: 'yt',
            href: '/'
        }
    ];
-
    var aworkList1 = [
        '<b>2003 – 2011 год</b> служба в органах внутренних дел РФ, в том числе Следователь по экономическим преступлениям следственного подразделения ГУ МВД России;',
        '<b>2011</b> - по настоящее время адвокат Адвокатской палаты города Москвы;',
        '<b>2014 – 2015</b> год ведущая программы «Контрольный звонок» на федеральном канале НТВ;',
        '<b>2016 – 2018</b> год исполнитель роли прокурора в программе «Суд присяжных» на федеральном канале НТВ.',
    ];
-
    var aworkList2 = [
        '<b>2004-2008</b> год член Молодежного образовательного проекта. Правительства Москвы «Гражданская смена»;',
        '<b>2004-2008 год</b> – член Студенческого Правительства Москвы;',
        '<b>2016</b> год участие в качестве эксперта по правовым вопросам на Всероссийском молодежном образовательном форуме «Территория смыслов на Клязьме»;',
        '<b>2016</b> год участие в круглых столах Общественной палаты РФ по темам «вопросы предварительного следствия, права подозреваемых и обвиняемых»;',
    ];
-
    var anews = [
        {
            src: 'images/content/about/n1.jpg',
            sub: 'Верховный суд разъяснил, какие права есть у заключенных',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'new.html'
        },
        {
            src: 'images/content/about/n2.jpg',
            sub: 'Предпринимателей не будут наказывать Уголовным кодексом...',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'new.html'
        },
        {
            src: 'images/content/about/n3.jpg',
            sub: '25 января вступит в силу Положение ЦБ РФ «Об общих собраниях акционеров».',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'new.html'
        },
        {
            src: 'images/content/about/n1.jpg',
            sub: 'Верховный суд разъяснил, какие права есть у заключенных',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'new.html'
        },
        {
            src: 'images/content/about/n2.jpg',
            sub: 'Предпринимателей не будут наказывать Уголовным кодексом...',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'new.html'
        },
        {
            src: 'images/content/about/n3.jpg',
            sub: '25 января вступит в силу Положение ЦБ РФ «Об общих собраниях акционеров».',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'new.html'
        },


    ];
-
    var partners = [
        {
            src: 'images/content/partners/1.jpg',
            title: 'Виктор Алексеевич',
            exp: 'опыт работы 10 лет',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'partner.html'
        },
        {
            src: 'images/content/partners/2.jpg',
            title: 'Генадий Андреевич',
            exp: 'опыт работы 10 лет',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'partner.html'
        },
        {
            src: 'images/content/partners/3.jpg',
            title: 'Наталья Сергеевна',
            exp: 'опыт работы 10 лет',
            txt: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет потребностям. Повседневная практика показывает, что реализация намеченных...',
            href: 'partner.html'
        }
    ];
-
    var partnerList = [
        [
            {
                name: 'опыт работы',
                val: '<b>Юрист общей практики</b>'
            }
        ],
        [
            {
                name: 'опыт работы',
                val: 'Более 10 лет'
            }
        ],
        [
            {
                name: 'E-MAIL',
                val: 'advokat103@list.ru'
            },
            {
                name: 'ТЕЛЕФОН',
                val: '+7 (000) 123-45-67'
            }
        ],

    ];


